@font-face{
    font-family: 'Instrument Sans';
        src: url('font/InstrumentSansvariable.ttf') format('truetype-variations');
        font-weight: 100 900;
        font-stretch: 75% 125%; }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

:root{
	color-scheme: light dark;
		--color_B: light-dark(#000, #fff);
		--color_W: light-dark(#fff, #000);
        --color_0: light-dark(#0000, #fff0);
		--color_B_60: light-dark(#00000099, #ffffffcc);
		--color_B_80: light-dark(#000000cc, #ffffffcc); 
        --color_W_60:light-dark( #ffffffcc ,#00000099 );;}

html{
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */ }

html::-webkit-scrollbar{
    display: none; /* Chrome, Safari, Edge */ }

body{
    font-family: 'Instrument Sans', sans-serif;
    background-color: var(--color_W); }

img{
    border-radius: 4px;
    width: 100%; }

.title{
    font-size: 32px;
    line-height: 1.08em;
    font-weight: 400;
    color: var(--color_B); }

.subtitle{
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 400;
    color: var(--color_B); }

.big-txt{
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 400;
    letter-spacing: 0.2px;
    word-spacing: 0.8px;
    color: var(--color_B_80); }

.txt{
    font-size: 16px;
    line-height: 1.6em;
    /* letter-spacing: 0.4px; */
    font-weight: 400;
    color: var(--color_B_80); }

.cta_button{
    margin: 0;
    padding: 0;
    background: var(--color_0);
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: var(--color_B_60);
    width: auto;
    line-height: 1em;
    display: flex;
        gap: 4px; }

.cta_button img{
    height: 16px;
    width: 16px; }

.cta_button:hover{
    color: var(--color_B) }

.cta_button_alt{
    margin: 0;
    padding: 0;
    background: var(--color_0);
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: var(--color_B_80);
    width: auto;
    line-height: 1em;
    display: flex;
        gap: 4px; }

.cta_button_alt img{
    height: 16px;
    width: 16px; }

.cta_button_alt:hover{
    color: var(--color_B);}
    

.featured_work_button{
    display: flex;
        gap: 8px; }
.page{
    width: 1280px;
    margin: 0 auto;
    padding: 200px 0px;
    display: flex;
        flex-direction: column;
        gap: 200px; }

.section{
    display: flex;
        flex-direction: column;
        gap: 20px; }

.featured{
    display: flex;
        flex-direction: column;
        gap: 80px; }
.featured_card{
    display: flex;
        flex-direction: column;
        gap: 20px; }

.featured_work_button{
    display: flex;
        gap: 20px; }

/* Tab*/
@media (max-width: 768px){
    .title{
        font-size: 28px; }

    .subtitle{
        font-size: 20px;}

    .big-txt{
        font-size: 18px; }

    .txt{
        font-size: 14px; }}

/* Mobile */
@media (max-width: 480px){
    .title{
        font-size: 24px;
        line-height: 1.12em; }

    .subtitle{
        font-size: 18px;}

    .big-txt{
        font-size: 16px;}

    .txt{
        font-size: 14px;}

    .page{
        width: 100%;
        padding: 160px 16px;}}



header.sticky_header{
    background: var(--color_W);
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
        justify-content: space-between;
        align-items: center;
    position: sticky;
        top: 0;
    z-index: 999;}

.navigation_menu{
    list-style: none;
    display: flex;
        gap: 20px;}

.navigation_dropdown{
    position: relative;}

/* dropdown container */
.navigation_dropdown > .navigation_menu{
    position: absolute;
        top: 100%;
        left: 0;
    min-width: 200px;
    padding: 16px;
    display: flex;
        flex-direction: column;
        gap: 16px;
    background:var(--color_W);
    opacity: 0;
    visibility: hidden;}

/* show dropdown */
.navigation_dropdown:hover > .navigation_menu{
    opacity: 1;
    visibility: visible;}
