<footer class="site_footer">
    <div class="footer_inner">
        <span class="txt footer_copy">© ARN03</span>
        <div class="footer_links">
            <a href="https://github.com/arnob69" target="_blank" rel="noopener noreferrer" class="cta_button txt footer_link">
                <svg class="arrow_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 17L17 7M17 7H8M17 7V16"></path>
                </svg>
                <span>GitHub</span>
            </a>
            <a href="https://www.figma.com/design/7PLqsChpQAxgi8f2bKcyCv/Resources--arnob69?m=auto&t=32btZkLH42lvMm4z-1" target="_blank" rel="noopener noreferrer" class="cta_button txt footer_link">
                <svg class="arrow_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 17L17 7M17 7H8M17 7V16"></path>
                </svg>
                <span>Figma</span>
            </a>
            <a href="https://youtube.com/@arnob69" target="_blank" rel="noopener noreferrer" class="cta_button txt footer_link">
                <svg class="arrow_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 17L17 7M17 7H8M17 7V16"></path>
                </svg>
                <span>YouTube</span>
            </a>
        </div>
    </div>
</footer>
<!-- </body> -->
