<header class="sticky_header">

        <nav class="main_navigation" aria-label="Main Navigation">
            <ul class="navigation_menu">

                <li class="navigation_item">
                    <a href="index.html" class="cta_button txt navigation_link">Home</a>
                </li>

                <li class="navigation_item navigation_dropdown">
                    <a href="works/" class="cta_button txt navigation_link">Works</a>
                    <ul class="navigation_menu">
                        <li class="navigation_item"><a href="works/case-study-1/" class="cta_button txt navigation_link">Case Study 1</a></li>
                        <li class="navigation_item"><a href="works/case-study-2/" class="cta_button txt navigation_link">Case Study 2</a></li>
                        <li class="navigation_item"><a href="works/case-study-3/" class="cta_button txt navigation_link">Case Study 3</a></li>
                        <li class="navigation_item"><a href="works/case-study-4/" class="cta_button txt navigation_link">Case Study 4</a></li>
                        <li class="navigation_item"><a href="works/" class="cta_button txt navigation_link">View All</a></li>
                    </ul>
                </li>

                <li class="navigation_item navigation_dropdown">
                    <a href="lets-craft-a-website/" class="cta_button txt navigation_link">Services</a>
                    <ul class="navigation_menu">
                        <li class="navigation_item"><a href="lets-craft-a-website/e-commerce/" class="cta_button txt navigation_link">E-commerce</a></li>
                        <li class="navigation_item"><a href="lets-craft-a-website/portfolio/" class="cta_button txt navigation_link">Portfolio</a></li>
                        <li class="navigation_item"><a href="lets-craft-a-website/landing-page/" class="cta_button txt navigation_link">Landing Page</a></li>
                        <li class="navigation_item"><a href="lets-craft-a-website/redesign/" class="cta_button txt navigation_link">Redesign</a></li>
                    </ul>
                </li>

                <li class="navigation_item navigation_dropdown">
                    <a href="resources/" class="cta_button txt navigation_link">Resources</a>
                    <ul class="navigation_menu">
                        <li class="navigation_item"><a href="resources/html-css-components/" class="cta_button txt navigation_link">HTML_CSS Components</a></li>
                        <li class="navigation_item"><a href="resources/django-template/" class="cta_button txt navigation_link">Django Template</a></li>
                        <li class="navigation_item"><a href="resources/python-scripts/" class="cta_button txt navigation_link">Python Scripts</a></li>
                        <li class="navigation_item"><a href="resources/figma-files/" class="cta_button txt navigation_link">Figma Files</a></li>
                    </ul>
                </li>

                <li class="navigation_item">
                    <a href="articles/" class="cta_button txt navigation_link">Articles</a>
                </li>

                <li class="navigation_item">
                    <a href="contact/" class="cta_button txt navigation_link">Contact</a>
                </li>

                <li class="navigation_item">
                    <a href="faq/" class="cta_button txt navigation_link">FAQ</a>
                </li>

            </ul>
        </nav>

        <a href="lets-craft-a-website/" class="cta_button txt header_cta">
            <svg class="arrow_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 17L17 7M17 7H8M17 7V16"></path>
            </svg>
            <span>Let's craft a Website</span>
        </a>

        <!-- Mobile bar: page title + hamburger -->
        <div class="mobile_header_bar">
            <span class="mobile_page_title txt"></span>
            <button class="hamburger_btn" aria-label="Open menu" aria-expanded="false">
                <span class="hamburger_line"></span>
                <span class="hamburger_line"></span>
                <span class="hamburger_line"></span>
            </button>
        </div>

    </header>

    <!-- Full-screen mobile menu overlay -->
    <div class="mobile_menu_overlay" aria-hidden="true">
        <div class="mobile_menu_inner">

            <ul class="mobile_nav_list">
                <li class="mobile_nav_item">
                    <div class="mobile_nav_row">
                        <a href="index.html" class="mobile_nav_link txt">Home</a>
                    </div>
                </li>

                <li class="mobile_nav_item mobile_dropdown">
                    <div class="mobile_nav_row mobile_dropdown_header">
                        <a href="works/" class="mobile_nav_link txt">Works</a>
                        <button class="mobile_dropdown_toggle" aria-label="Toggle Works menu">
                            <svg class="arrow_icon mobile_toggle_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 9L12 15L18 9"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="mobile_dropdown_menu">
                        <ul class="mobile_dropdown_menu_inner">
                            <li><a href="works/case-study-1/" class="mobile_sub_link txt">Case Study 1</a></li>
                            <li><a href="works/case-study-2/" class="mobile_sub_link txt">Case Study 2</a></li>
                            <li><a href="works/case-study-3/" class="mobile_sub_link txt">Case Study 3</a></li>
                            <li><a href="works/case-study-4/" class="mobile_sub_link txt">Case Study 4</a></li>
                            <li><a href="works/" class="mobile_sub_link txt">View All Works</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mobile_nav_item mobile_dropdown">
                    <div class="mobile_nav_row mobile_dropdown_header">
                        <a href="lets-craft-a-website/" class="mobile_nav_link txt">Services</a>
                        <button class="mobile_dropdown_toggle" aria-label="Toggle Services menu">
                            <svg class="arrow_icon mobile_toggle_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 9L12 15L18 9"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="mobile_dropdown_menu">
                        <ul class="mobile_dropdown_menu_inner">
                            <li><a href="lets-craft-a-website/e-commerce/" class="mobile_sub_link txt">E-commerce</a></li>
                            <li><a href="lets-craft-a-website/portfolio/" class="mobile_sub_link txt">Portfolio</a></li>
                            <li><a href="lets-craft-a-website/landing-page/" class="mobile_sub_link txt">Landing Page</a></li>
                            <li><a href="lets-craft-a-website/redesign/" class="mobile_sub_link txt">Redesign</a></li>
                            <li><a href="lets-craft-a-website/" class="mobile_sub_link txt">View All Services</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mobile_nav_item mobile_dropdown">
                    <div class="mobile_nav_row mobile_dropdown_header">
                        <a href="resources/" class="mobile_nav_link txt">Resources</a>
                        <button class="mobile_dropdown_toggle" aria-label="Toggle Resources menu">
                            <svg class="arrow_icon mobile_toggle_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 9L12 15L18 9"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="mobile_dropdown_menu">
                        <ul class="mobile_dropdown_menu_inner">
                            <li><a href="resources/html-css-components/" class="mobile_sub_link txt">HTML_CSS Components</a></li>
                            <li><a href="resources/django-template/" class="mobile_sub_link txt">Django Template</a></li>
                            <li><a href="resources/python-scripts/" class="mobile_sub_link txt">Python Scripts</a></li>
                            <li><a href="resources/figma-files/" class="mobile_sub_link txt">Figma Files</a></li>
                            <li><a href="resources/" class="mobile_sub_link txt">View All Resources</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mobile_nav_item">
                    <div class="mobile_nav_row">
                        <a href="articles/" class="mobile_nav_link txt">Articles</a>
                    </div>
                </li>
                <li class="mobile_nav_item">
                    <div class="mobile_nav_row">
                        <a href="contact/" class="mobile_nav_link txt">Contact</a>
                    </div>
                </li>
                <li class="mobile_nav_item">
                    <div class="mobile_nav_row">
                        <a href="faq/" class="mobile_nav_link txt">FAQ</a>
                    </div>
                </li>
            </ul>

            <a href="lets-craft-a-website/" class="cta_button txt mobile_menu_cta">
                <svg class="arrow_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 17L17 7M17 7H8M17 7V16"></path>
                </svg>
                <span>Let's craft a Website</span>
            </a>

        </div>
    </div>
<!-- </body> -->

<!-- </body> -->
