<header class="sticky_header">

        <nav class="main_navigation" aria-label="Main Navigation">
            <ul class="navigation_menu">

                <li class="navigation_item">
                    <a href="/mysite/index.html" class="cta_button txt navigation_link">Home</a>
                </li>

                <li class="navigation_item navigation_dropdown">
                    <a href="/mysite/works.html" class="cta_button txt navigation_link">Works</a>
                    <ul class="navigation_menu">
                        <li class="navigation_item"><a href="/mysite/case-study-1.html" class="cta_button txt navigation_link">Case Study 1</a></li>
                        <li class="navigation_item"><a href="/mysite/case-study-2.html" class="cta_button txt navigation_link">Case Study 2</a></li>
                        <li class="navigation_item"><a href="/mysite/case-study-3.html" class="cta_button txt navigation_link">Case Study 3</a></li>
                        <li class="navigation_item"><a href="/mysite/case-study-4.html" class="cta_button txt navigation_link">Case Study 4</a></li>
                        <li class="navigation_item"><a href="/mysite/works.html" class="cta_button txt navigation_link">View All</a></li>
                    </ul>
                </li>

                <li class="navigation_item navigation_dropdown">
                    <a href="/mysite/services.html" class="cta_button txt navigation_link">Services</a>
                    <ul class="navigation_menu">
                        <li class="navigation_item"><a href="/mysite/e-commerce.html" class="cta_button txt navigation_link">E-commerce</a></li>
                        <li class="navigation_item"><a href="/mysite/portfolio.html" class="cta_button txt navigation_link">Portfolio</a></li>
                        <li class="navigation_item"><a href="/mysite/landing-page.html" class="cta_button txt navigation_link">Landing Page</a></li>
                        <li class="navigation_item"><a href="/mysite/redesign.html" class="cta_button txt navigation_link">Redesign</a></li>
                    </ul>
                </li>

                <li class="navigation_item navigation_dropdown">
                    <a href="/mysite/resources.html" class="cta_button txt navigation_link">Resources</a>
                    <ul class="navigation_menu">
                        <li class="navigation_item"><a href="/mysite/html-css-components.html" class="cta_button txt navigation_link">HTML_CSS Components</a></li>
                        <li class="navigation_item"><a href="/mysite/django-template.html" class="cta_button txt navigation_link">Django Template</a></li>
                        <li class="navigation_item"><a href="/mysite/python-scripts.html" class="cta_button txt navigation_link">Python Scripts</a></li>
                        <li class="navigation_item"><a href="/mysite/figma-files.html" class="cta_button txt navigation_link">Figma Files</a></li>
                    </ul>
                </li>

                <li class="navigation_item">
                    <a href="/mysite/articles.html" class="cta_button txt navigation_link">Articles</a>
                </li>

                <li class="navigation_item">
                    <a href="/mysite/contact.html" class="cta_button txt navigation_link">Contact</a>
                </li>

                <li class="navigation_item">
                    <a href="/mysite/faq.html" class="cta_button txt navigation_link">FAQ</a>
                </li>

            </ul>
        </nav>

        <a href="/contact.html" class="cta_button txt header_cta">
            <svg class="arrow_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 17L17 7M17 7H8M17 7V16"></path>
            </svg>
            <span>Let's craft a Website</span>
        </a>

        <!-- Mobile bar: page title + hamburger -->
        <div class="mobile_header_bar">
            <span class="mobile_page_title txt"></span>
            <button class="hamburger_btn" aria-label="Open menu" aria-expanded="false">
                <span class="hamburger_line"></span>
                <span class="hamburger_line"></span>
                <span class="hamburger_line"></span>
            </button>
        </div>

    </header>

    <!-- Full-screen mobile menu overlay -->
    <div class="mobile_menu_overlay" aria-hidden="true">
        <div class="mobile_menu_inner">
            <ul class="mobile_nav_list">
                <li><a href="/" class="mobile_nav_link title">Home</a></li>
                <li><a href="/works.html" class="mobile_nav_link title">Works</a></li>
                <li><a href="/services.html" class="mobile_nav_link title">Services</a></li>
                <li><a href="/resources.html" class="mobile_nav_link title">Resources</a></li>
                <li><a href="/articles.html" class="mobile_nav_link title">Articles</a></li>
                <li><a href="/contact.html" class="mobile_nav_link title">Contact</a></li>
                <li><a href="/faq.html" class="mobile_nav_link title">FAQ</a></li>
            </ul>
            <a href="/contact.html" class="cta_button txt mobile_menu_cta">
                <svg class="arrow_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 17L17 7M17 7H8M17 7V16"></path>
                </svg>
                <span>Let's craft a Website</span>
            </a>
        </div>
    </div>
